body {
    margin: 0;
}
.container {
    position: absolute;
    text-align: center;
    width: 100%;
    border: .2px outset red;
    top: 100px;
    left: 300px;
    width: auto;
    height: auto;
    margin: 0 auto;
    padding: 10px;
}
.container h1 {
    color: rgb(253, 236, 0);
    font-size: 50px;
}
#label1{
    color: rgb(253, 236, 0);
    font-size: 20px;
    float: left;
}
#language{
    color: rgb(253, 236, 0);
    font-size: 20px;
    padding-left: 5px;
}
#speakerMenu{
    float: left;
    margin-left: 10px;
    font-size: 14px;
    background-color: lightblue;
}
#rate{
    float: inherit;
    color: lightblue;
    background-color: transparent;
    border-radius: 5px;
    font-size: 18px;
    padding: 2px 4px;
    cursor: pointer;
}
#particles-js {
    background: black;
    height: 100vh;
}
.slide_down{
    color: #f3f708fa;
    background-color: transparent;
    border: 2px solid rgb(253, 236, 0);
    border-radius: 5px;
    font-size: 18px;
    padding: 5px 8px;
    cursor: pointer;
    float: right;
}
.slide_down:hover {
    box-shadow: inset 0 100px 0 0 white;
    
}